@use "./partials/resets";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

//Header
header {
  width: 100%;
  text-align: center;
  @include flex(row, center, center);
}

.logo-container {
  margin-top: 0.3rem;
  width: 8rem;
  border-bottom: 1px solid $secondary-grey;
}

.logo {
  width: 100%;
}

//Main
main {
  padding: 0 2rem;
  min-height: 90vh;
  @include flex(column, center, stretch);

  @include desktop {
    padding: 1rem 6rem;
  }
}
