@use "./partials/resets";
@use "./partials/mixins" as *;

//Main
main {
  padding: 1rem;
  @include tablet {
    padding: 1rem 2rem;
  }
  @include desktop {
    padding: 1rem 6rem;
  }

  h1 {
    text-align: center;
    letter-spacing: 6px;
    padding: 2px;
  }
}

//Form
.form {
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #fff;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    width: 100%;
  }

  &__label {
    text-align: center;
    font-size: 0.7rem;
    padding: 2px 0;
  }

  &__input,
  &__cta {
    width: 100%;
    border-radius: 8px;
    border: none;
    @include desktop {
      width: 50%;
    }
  }

  &__input {
    background-color: #e4e2e2a4;
    padding: 0.5rem 1rem;
    color: #fff;
  }

  &__cta {
    background-color: #fff;
    padding: 0.5rem 0;
    color: #000;
    transition: all 1s ease;
    &:hover {
      color: #fff;
      background-color: #e4e2e2a4;
    }
  }

  &__label,
  &__cta {
    letter-spacing: 2px;
  }

  &__error-container {
    margin-top: 1rem;
  }

  &__error {
    font-size: 0.7rem;
    letter-spacing: 2px;
    padding: 0;
  }
}

//Bookmarks
.bookmarks {
  padding: 1rem 0;

  &__title {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 0.5rem 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0;

    @include tablet {
      justify-content: space-between;
    }
  }
}

.bookmark {
  width: 90%;
  border: 1px solid #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: 0.3rem;
  padding: 0 0.5rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 25%;
    }
  }

  &__title {
    width: 40%;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  &__url {
    width: 40%;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  &__delete-container {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__delete {
    text-align: center;
    font-weight: 800;
    font-size: 1rem;
  }
}
