@use "./partials/resets";
@use "./partials/mixins" as *;

header {
  width: 100%;
  padding: 1.8rem 0;
  text-align: center;
  height: 8vh;
}
//Main
main {
  padding: 1rem 2rem;
  min-height: 92vh;
  @include flex(column, center, stretch);

  @include desktop {
    padding: 1rem 6rem;
  }

  h1 {
    text-align: center;
    letter-spacing: 6px;
    padding: 2px;
  }
}
